* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  height: 110px;
  background: #7DA3A1;

}
